body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-brand{
  color: #000;
}
.navbar-nav li a {
  color: #000;
}
.navbar-nav li a:hover{
  color: blue;
}
img{
width: 100%;
height: 234px;
}
.banner_img {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.btn-get-start{
  padding: 8px 16px;
  border:1px solid #000;
}
.menu-active{
  color: blue !important;
  border-bottom: 1px solid #565656;
}
.banner_img img{
position: relative;
animation: mymove 10s ease-in-out infinite alternate-reverse both;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 50px}
  100% {top: 100px;}
}